body {
    font-size: 20px;
    line-height: 1.5;
    background-color: #dde7f2;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
}
p {
    margin: 5px;
}
.container {
    width: 100%;
    margin: 0.5rem 0;
}
.bayan__item {
    border: 1px solid #fff;
    margin-bottom: 5px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.bayan__title {
    position: relative;
    display: block;
    border: 1px solid #fff;
    padding: 1rem;
    cursor: pointer;
}
.icon-circle-down:before {
    content: "\ea43";
    position: absolute;
    top: 35%;
    right: 5%;
}
.bayan__title:hover + label+ .bayan__description {
    max-height: 100%;
    background-color: #f0f5f9;
}
.bayan__input {
    position: absolute;
    width: 0;
    height: 0;
}
.bayan__input:checked~.bayan__description{
    max-height: 100%;
    overflow: visible;
    background-color: #f0f5f9;
    padding: 1rem 1rem 2rem;
}
.bayan__input:checked+.icon-circle-down:before{
    transform: rotate(180deg);
    transition: all .6s;
}
.bayan__description{
    max-height: 0;
    overflow: hidden;
    background-color: #f0f5f9;
    font-size: 14px;
    padding: 0 1rem;
    transition: padding 1s;
}
.bayan__image-box {
    position: relative;
    padding-top: 100%;
}
.bayan__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    object-fit: cover;
    cursor: pointer;
}
.bayan__image:hover {
    transform: scale(0.99);
    transition: all .2s;
}
/*tablete*/
@media (min-width: 820px) {
    body {
        font-size: 18px;
    }
    .container {
        margin: 1rem auto;
        max-width: 500px;
    }
}
/*desktop*/
@media (min-width: 1820px) {
    body {
        font-size: 16px;
    }
    .container {
        margin: 1.5rem auto;
        max-width: 500px;
    }
}